body > #root > div {
  height: 180vh;
  background-color: #e59500 !important;
}

div.app {
  height: 100%;
}

.segment-container {
  background-color: #457b9d !important;
}

.segment-content {
  background-color: #a8dadc !important;
}

.input-styling {
  margin-bottom: 5px !important;
  background-color: #eff6e0 !important;
}

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #ffffff;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: square;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
}

.base-timer__svg {
  transform: scaleX(-1);
}
